<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.codelabs.androidkotlinfundamentals">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:name=".CodeLabsApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ApplicationDashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".helloworld.HelloWorld"/>
        <activity android:name=".diceroller.DiceRoller" />
        <activity android:name=".diceroller.DiceRollerWithImage" />
        <activity android:name="org.codelabs.androidkotlinfundamentals.androidkotlinfundamentals2.linearlayoutusingthelayouteditor.AboutMe" />
        <activity android:name="org.codelabs.androidkotlinfundamentals.androidkotlinfundamentals2.linearlayoutusingthelayouteditor.AboutMeInteractive" />
        <activity android:name="org.codelabs.androidkotlinfundamentals.androidkotlinfundamentals2.constraintexample.ConstraintExample" />
        <activity android:name="org.codelabs.androidkotlinfundamentals.androidkotlinfundamentals2.databindingbasics.DataBindingBasicExample" />
        <activity android:name=".androidkotlinfundamentals3.TriviaActivity" />
        <activity android:name=".androidkotlinfundamentals4.LifeCycleAndLoggingActivity" />
        <activity android:name=".androidkotlinfundamentals5.viewmodelandviewmodelfactory.GameActivity" />
        <activity android:name=".androidkotlinfundamentals5.livedataandobservers.GameActivity" />
        <activity android:name=".androidkotlinfundamentals6.RoomMainActivity" />
        <activity android:name="com.example.android.marsrealestate.MarsInternetExample" />
        <activity android:name=".androidkotlinfundamentals9.devbyteviewer.ui.DevByteActivity" />
    </application>

</manifest>